# Config file for ESP32 DSP Processor

menu "ESP32 audio buffer and I2S config"
    config USE_PSRAM
        bool "Use PSRAM"
        default true
        depends on ESP32_SPIRAM_SUPPORT
        help
            Need wrover class modules with large SPRAM to have buffers >1s and chunks >20ms for Snapcast network delay

    config USE_DSP_PROCESSOR
        bool "enable signal processing on audio data"
        default false
        help
            enable audio filtering before queueing it to player component

    config USE_BIQUAD_ASM
        bool "Use uptimized asm version of Biquad_f32"
        default true
        help
            Asm version 2 x speed on ESP32 - not working on ESP32-S2

endmenu
