# Config file for ESP32 DSP Processor

menu "ESP32 audio buffer and I2S config"
    config USE_DSP_PROCESSOR
        bool "enable signal processing on audio data"
        default false
        help
            enable audio filtering before queueing it to player component

    choice SNAPCLIENT_DSP_FLOW
        prompt "DSP flow"
        default SNAPCLIENT_DSP_FLOW_STEREO
        depends on USE_DSP_PROCESSOR
        help
            Select the DSP flow to use.

        config SNAPCLIENT_DSP_FLOW_STEREO
            bool "Stereo flow"

        config SNAPCLIENT_DSP_FLOW_BASSBOOST
            bool "Bassboost flow"

        config SNAPCLIENT_DSP_FLOW_BIAMP
            bool "Bi-Amp flow"
    endchoice

    config USE_BIQUAD_ASM
        bool "Use uptimized asm version of Biquad_f32"
        default true
        depends on USE_DSP_PROCESSOR
        help
            Asm version 2 x speed on ESP32 - not working on ESP32-S2

    config SNAPCLIENT_USE_SOFT_VOL
        bool "Use software volume"
        default false
        depends on USE_DSP_PROCESSOR
        help
            Use software volume mixer instead of hardware mixer.

endmenu
